venv/
__pycache__/
*.pyc
.env
*.Zone.Identifier
datalake/raw/*
datalake/refined/*
datalake/consumption/*.csv
datalake/consumption/plots/*.png
!datalake/raw/.gitkeep
!datalake/refined/.gitkeep
!datalake/consumption/.gitkeep
!datalake/consumption/plots/.gitkeep